body {
	background: url('../images/bg.png');
	background-repeat:repeat;
	background-attachment: fixed; }	

.ui-tabs  {
	background: #68655E;
	padding: 0.3em 0.2em 0em 0.2em ;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #FFFFFF !important;
	background: #B3B0A8 ;
	font-size: 13px;
}

.ui-tabs .ui-tabs-nav li.ui-state-default a {
	text-shadow:none; 
	color: #4F4F4F ;
	font-size: 13px;
}

.ui-tabs li {
	background: #EFEEEC ;
	padding: 2px;
}

